// Category Pages

.category {
  .site-inner {
    .category-news, .category-blog, .category-how-tos {

      article.post {
        @include span-columns(12);
        @include omega();

        margin-top: 3em;

        header.entry-header {
          @include span-columns(8);
        }

        .entry-content {
          @include span-columns(4);
          @include omega();
        }
      }

      article:last-child {
        margin-bottom: 3em;
      }
    }
  }
}
