// Catagory Pages

.category-news, .category-blog, .category-how-tos {
  @include span-columns(12);
  @include omega();

  article {
    margin-top: 3em;

    .entry-header {
      img {
        float: left;
        margin-right: 1em;
      }
    }
  }

  article:last-child {
    margin-bottom: 3em;
  }
}
