.footer-widgets {
    color: $light-purple-3;
    background: $purple;
    .wrap{
        @include outer-container;
    }
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3 {
        @include span-columns(4);

        .widget-wrap {
          width: 18em;
          margin: auto;
        }
    }
    .widgettitle {
        color: $light-gray;
    }
    a {
        &:hover {
        }
    }
}

.site-footer {
    @include outer-container;
    width: 100%;
    max-width: none;
    text-align: center;
    background: $purple;
    color: $light-purple-3;

    .wrap {
      width: 65em;
      margin: auto;

      a {
        color: white;

        &:hover {
          color: darken($purple, 20);
        }
      }
    }
}
