.home-page, .home {
  h2 {
    text-align: center;
  }

  .hero {
    @include span-columns(12);
    text-align: center;
    color: white;

    .inner-wrap {
      @include span-columns(8 of 12);
      @include shift(2);
      padding: 4em 0 2em;

      .tagline-1 {
        margin-top: .5em;
      }

      .tagline-2 {
        margin-top: .5em;
        color: $light-purple-2;
        font-size: 1.5em;
      }

      section.buttons {
        @include span-columns(8);
        @include shift(2);
        padding: 5em 0 3em;

        .purple-button, .light-purple-button {
          border-radius: 5px;
          padding: 1em 2em;
          display: inline-block;
        }
        .purple-button {
          color: white;
          background: $medium-purple;

          &:hover {
            background: darken($medium-purple, 10);
          }
        }

        .light-purple-button {
          color: #6C5381;
          background: white;
          margin-left: 1.5em;

          &:hover {
            background: darken(white, 10);
          }
        }
      }

      .down-button {
        @include span-columns(8 of 8);
      }
    }
  }

  .about {
    @include span-columns(12);
    background-position-y: 60px !important;
    background-size: 650px !important;
    background-color: #EBDFF6 !important;
    padding: 4em 0;

    .text {
      @include span-columns(8 of 12);
      @include shift(2);
      margin-top: 2em;

      p {
        line-height: 2.3em;
      }

      img {
        width: 250px;
        height: auto;
        margin: 0 2em 2em 0;
      }
    }

    section.buttons {
      @include span-columns(4 of 12);
      @include shift(4);
      padding: 3em 0 3em;

      .about-button, .contact-button {
        border-radius: 10px;
        padding: 1em 2em;
        display: inline-block;
        font-weight: 600;
      }
      .about-button {
        color: $medium-purple;
        background: white;
        border: 3px solid $purple;
        margin-left: 10%;

        &:hover {
          background: $purple;
          color: white;
        }
      }

      .contact-button {
        color: $light-blue;
        background: white;
        border: 3px solid $blue;
        margin-left: 1.5em;

        &:hover {
          background: $blue;
          color: white;
        }
      }
    }
  }

  .portfolio {
    @include span-columns(12);
    padding: 5em 0 3em 0;

    h2 {
      margin-bottom: 2em;
    }

    .portfolio-item-wrap {
      @include span-columns(9);
      @include shift(1.5);

        .portfolio-item {
          @include span-columns(3 of 9);
          @include omega();
          padding: 0 1em;
          margin-bottom: 2em;

          .image-wrap {
            background: url('images/Circles.png') no-repeat $medium-purple;
            background-size: 60px;
            background-position-y: .75em;
            background-position-x: .75em;
            padding: 2em .75em .5em .75em;
            border-radius: 10px;
            margin-bottom: .75em;

            img {
              border-radius: 5px;
              max-height: 200px;
            }
          }

          .portfolio-caption {
            text-align: center;
        }
      }
    }
  }

  .services {
    @include span-columns(12);
    padding: 5em 0 3em 0;
    background: $medium-purple;
    color: white;

    h2 {
      margin-bottom: 2em;
      font-weight: 500;
    }

    .service-wrap {
      @include span-columns(12);
      padding: 0 5em;

      .service {
        @include span-columns(3 of 12);
        @include omega();
        padding: 0 2em;
        margin-bottom: 4em;

        img {
          position: relative;
          margin-left: auto;
          margin-right: auto;
        }

        h3 {
          text-align: center;
          padding: 2em 0;
          font-size: 1em;
          letter-spacing: 2px;
          font-weight: 700;
          text-transform: uppercase;
        }

        p {
          font-size: 1.2em;
          line-height: 1.2em;
          text-indent: 2em;
        }
      }
    }
  }

  .contact-us {
    @include span-columns(12);
    padding: 5em 0 3em 0;
    background: $purple;
    color: white;

    .contact-wrap {
      @include span-columns(8);
      @include shift(2);

      .contact-form {
        @include span-columns(6 of 8);
        @include shift(1);

        .gform_heading {
          display: none; 
        }

        input[type=text], input[type=tel], input[type=email], input[type=url], textarea {
          background-color: $light-purple;
          border: 2px solid $light-purple-2;
          border-radius: 8px;
          padding: 1em;
          color: $purple;
        }

        input[type=submit] {
          background: $light-cyan;
          transition: .2s;
          color: $purple;
          font-weight: 400;
          padding: 1em 4em;

          &:hover {
            background: darken($light-cyan, 10);
            transition: .2s;
          }
        }

        .gform_footer {
          text-align: center;
        }

        label, .ginput_counter {
          display: none;
        }
      }

      .contact-info {
        @include span-columns(6 of 8);
        @include shift(1);
        background: $medium-purple;
        padding: 2em 5em;
        margin-top: 3em;

        h3 {
          text-align: center;
        }

        .left-column, .right-column {
          @include span-columns(3 of 6);
          @include omega();
          margin-top: 2em;
        }
      }
    }
  }
}
