.site-header {
    @include outer-container;
    width: 65em;

    .title-area {
        @include span-columns(6);
    }
    .header-widget-area {
        @include span-columns(6);
    }
}


//* Header Image Styles

.header-image {
    .site-title > a, p.site-title {
        float: left;
        min-height: 80px;
        width: 100%;
        background-size: 10em !important;
        background-position-y: .3em !important;
    }

    .site-description,
    .site-title {
        display: block;
        text-indent: -9999px;
    }
}
