header {
    @include outer-container;
    @include span-columns(12);

    .wrap {
      @include span-columns(8);
      @include shift(2);

      @media screen and (max-width: 414px) { //* iPone 6 plus *//
        @include shift(0);
      }

      @media screen and (max-width: 375px) { //* iPone 6 *//
        @include span-columns(12);
      }

        .title-area {
            @include span-columns(4 of 8);

            @media screen and (max-width: 414px) { //* iPone 6 plus *//
              @include span-columns(12);
              @include shift(0);
            }

            @media screen and (max-width: 375px) { //* iPone 6 *//
              @include span-columns(12);
              @include shift(0);
            }
        }
        .header-widget-area {
            @include span-columns(4 of 8);
        }
    }
}


//* Header Image Styles

.header-image {
    .site-title > a {
        float: left;
        min-height: 80px;
        width: 100%;
        background-size: 360px !important;
        background-position-y: 12px !important;

        @media screen and (max-width: 414px) { //* iPone 6 plus *//
          background-size: 250px !important;
          background-position-y: 20px !important;
          background-position-x: 5px !important;
        }

        @media screen and (max-width: 375px) { //* iPone 6 *//
          background-size: 300px !important;
          background-position-y: 20px !important;
          background-position-x: 5px !important;
        }
    }

    .site-description,
    .site-title {
        display: block;
        text-indent: -9999px;
    }
}
