// Articles Feed

.home {
  main.content {
  padding-top: 3em;


  .category-how-tos {
    .entry-meta {
      background: $cyan;
      a {
        color: $light-cyan;

        &:hover {
          color: white;
        }
      }
    }
  }

  .category-news {
    .entry-meta {
      background: $red;
      a {
        color: $light-red;

        &:hover {
          color: white;
        }
      }
    }
  }

  .category-blog {
    .entry-meta {
      background: $blue;
      a {
        color: $light-blue;

        &:hover {
          color: white;
        }
      }
    }
  }

    article.post {
      @include span-columns(4);
      @include omega(3n);
      color: white;
      margin-bottom: 1em;

      a {
        color: white;
        text-decoration: underline;

        &:hover {
          color: $light-purple-3;
        }
      }

      header.entry-header {
        background: $medium-gray;
        width: 300px;
        height: 18em;

        .entry-meta {
          text-align: center;
          font-family: century gothic;
          text-transform: uppercase;
          position: relative;
          top: -7px;
          font-weight: 600;

          a {
            text-decoration: none;
          }
        }

        a { display: block; }

        h1.entry-title, h2.entry-title {
          padding: 0em .7em;
          font-size: 1.4em;
          a {
            color: white;
            font-family: $base-font-family;
            font-weight: 500;
            text-transform: capitalize;
            text-decoration: none;

            &:hover {
              color: $light-purple-3;
            }
          }
        }
      }

      .entry-content {
        padding: 1em;
        background: $medium-gray;
        width: 300px;
        height: 9em;

        p {
          font-size: 1em;
          font-weight: 500;
          line-height: 25px;
        }
      }

      .entry-footer {
        width: 300px;

        .entry-meta {
          padding: .1em 1em 1em;
          background: $medium-gray;
          font-family: Andale Mono;
          font-size: .9em;
          font-weight: 600;
        }
      }
    }
  }
}
