//Default Layout (Content-Sidebar)
.content-sidebar-wrap {
    @include outer-container;
    width: 65em;
}
.content{
    @include span-columns(9);
}
.sidebar-primary {
    @include span-columns(3);
}

//Sidebar-Content Layout
.sidebar-content{
    .sidebar-primary {
        float: left;
    }
    .content {
        float: right;
        margin-right: rem(10px);
    }
}

//Full Width Content Layout
.full-width-content{
    .content {
        @include span-columns(12);
    }
}

//Search results page styles
.search-results, .search-no-results {

  .archive-description {
    text-align: center;
    padding: 3em;
  }
}

// No results page style
.no-search-results {

  .entry {

  }
}

// Catagory page styles
.category-news, .category-blog, .category-how-tos {

  article {
    margin-top: 3em;

    .entry-header {
      img {
        float: left;
        margin-right: 1em;
      }
    }
  }

  article:last-child {
    margin-bottom: 3em;
  }
}
