//Default Layout (Content-Sidebar)
.content-sidebar-wrap {
    @include outer-container;
    width: 65em;
}
.content{
    @include span-columns(9);
}
.sidebar-primary {
    @include span-columns(3);
}


//Sidebar-Content Layout
.sidebar-content{
    .sidebar-primary {
        float: left;
    }
    .content {
        float: right;
        margin-right: rem(10px);
    }
}

//Full Width Content Layout
.full-width-content{
    .content {
        @include span-columns(12);
    }
}

.home {

  main.content {
  padding-top: 3em;

    article.post {
      @include span-columns(4);
      @include omega(3n);
      color: white;

      header {
        padding: 1em 2em;
        background: $light-gray;
        width: 20em;

        h1 a {
          color: white;
          font-family: $base-font-family;
          font-weight: 500;
          font-size: .8em;
        }
      }

      .entry-content {
        padding: 1em 2em;
        background: $light-gray;
        width: 20em;
        height: 10em;

        p {
          font-size: 1em;
          font-weight: 500;
        }
      }

      .entry-footer {
        width: 20em;

        .entry-meta {
          padding: 1em 2em;
          background: $light-gray;
        }
      }
    }

    article.category-how-tos {

    }
  }
}
