.genesis-nav-menu {
    @include outer-container;
    padding-left: 0;
    width: 65em;

    .nav-search {
        height: 64px;
        width: 30em;
        float: right;
    }

    a {
        display: block;
        padding: rem(20px) rem(30px);
        position: relative;
    }
    .menu-item {
        list-style: none;
        float: left;

        &.current-menu-item a {
            background: $medium-purple;
        }
    }
}

//* Primary Navigation
.nav-primary {
    background-color: $purple;
    @include span-columns(12);

    .wrap {
        @include span-columns(8);
        @include shift(2);

        @media screen and (max-width: 414px) { //* iPone 6 plus *//
          @include shift(0);
        }

        @media screen and (max-width: 375px) { //* iPone 6 *//
          @include span-columns(8);
          @include shift(1);
        }

        .menu-item a {
            color: $light-purple-4;
            font-family: $nav-font;
            font-weight: 500;
            font-size: 1em;
            transition: .3s;
            text-transform: uppercase;

            &:hover {
                color: white;
                background: $medium-purple;
            }
        }
    }
}
